* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  width: 1320px;
}

.form-wrapper {
  width: 400px;
}

.btn {
  width: 100% !important;
  font-weight: 500;
}
